@font-face {
    font-family: Raleway;
    src: url('https://fonts.google.com/specimen/Raleway');
}
@font-face {
    font-family: Open-sans;
    src: url('https://fonts.google.com/specimen/Open+Sans');
}
// @font-face {
//     font-family: GreatVibes;
//     src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
// }