
// COLOR PALETTE
$cyan: #44b6d1;
$pop-btn: rgba(65, 21, 99, 0.70);
$btn: rgb(201, 201, 201);
$border: #b8b8b8;
// $clr4: #f0decb;
// $clr5: #fff;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


