.toy-preview-container {
  padding: 8px;
  // width: 220px;
  height: 100px;
  box-shadow:  0 1px 2px 1px rgba(0,0,0,0.05), inset 0px 0px 5px 4px rgba(0,0,0,0.05);
  border: 1px solid rgb(206, 206, 206);
  border-radius: 2px;
  cursor: pointer;
  // margin-bottom: 10px;
}
